/* Basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Calibri, sans-serif;    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Container layout */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left Tab (TOC) */
.toc {
    width: 20%;
    min-width: 192px;
    max-width: 256px;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toc-item {
    display: block;
    min-width: 128px;
    padding: 16px;
    margin: 4px 32px;
    border-radius: 15px;
    border: 1px solid #ddd;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.toc-item:hover {
    background-color: #ddd;
}

.toc-item.active {
    background-color: #6a9fb5;
    color: white;
}

.toc-item.active::before {
    background-color: #6a9fb5;
}
/* Main Content */
.main-content {
    width: 75%;
    overflow: auto;
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    height: 300vh;
    margin: 16px;
    padding: 32px;
    border-radius: 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.bar-container {
    width: 100%;
    height: 64px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
}

.bar-empty {
    width: 4px;
    height: 100%;
    background-color: #CCCCCC;
    border-radius: 16px;
}


.bar-fill {
    width: 4px;
    height: 0%;
    background-color: #7C9;
    border-radius: 16px;
}
